BOT_NUMBER=
AI_API_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=
PORT=3000
OWNER_NAME=Troxzy
OWNER_TELEGRAM=t.me/SoloBanNoTrash
AI_BASE_URL=
SESSION_PATH=./sessions
DB_PATH=./data/troxzymd.db
LOWDB_PATH=./data/state.json
LOG_LEVEL=info
